<div class="navbox">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/account/signin"><span>Login</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/signup"><span>Sign up</span></a>
          </li>
        </ul>
      </div>
      
      <div class="pure-g">
      
          <div class="pure-u-15-24">
            <img src="./images/Pop.png" id="brandLogo" alt="The Pop logo.">  
          </div>
      
          <div class="pure-u-1-9" id="sml-scrn">
            <h1 class="introH1">Pop,<br> what else?</h1>
            <h2 class="introH2">Tasks made easy.</h2>
            <a href="/account/signup"><button type="button" class="butn">Sign up for free!</button></a>
            <div class="sml-icons">
              <i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i><i class="fab fa-github"></i>
            </div>
          </div>
        </div>
      
        <div class="alt-icons">
          <ul>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-github"></i></li>
          </ul>
        </div>
