* {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
}

svg {
	transform: scale(0.9);
}

svg:not(:root) {
	overflow: visible;
}

body {
	background-color: #35a0e1;
	background-image: url("images/BgBlobs2.png");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Poppins', sans-serif !important;
	overflow-x: hidden;
}

a {
	color: white;
}

h1 {
	text-align: center;
	display: inline-block;
	font-family: 'Poppins', sans-serif !important;
	font-size: 40px;
	font-weight: 700;
	color: white;
	letter-spacing: normal;
}

h2 {
	font-family: 'Poppins', sans-serif !important;
	font-size: 40px;
	font-weight: 700;
	color: white;
	text-shadow: 5px 5px #4795bd;
	letter-spacing: normal;
}

h5 {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 10px;
}

i {
	color: white;
	font-size: 40px;
	padding: 30px 15px 4px 15px;
}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.6s;
}

.nav a {
	display: block;
	padding-left: 5px;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.nav a .sideBtn {
	width: 85%;
	height: 85%;
}

.nav a:hover {
	transform: scale(1.1);
	transition: .1s;
}

.close {
	margin-top: -60px;
}

.addNewPop {
	float: right;
	margin-right: 30px;
}

.moveBtn {
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	top: 20%;
	left: 85%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.optionBtn {
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}

.optionBtn div:nth-child(1) {
	margin-top: 10px;
}
.optionBtn div:nth-child(2) {
	margin-top: 10px;
}
.optionBtn div:nth-child(3) {
	margin-top: 10px;
}

.textCont {
	position: absolute;
	top: 30%;
	left: 20%;
	display: block;
	width: 70%;
	text-align: center;
	font-size: 34px;
	color: white;
}

.resize-drag {
	color: white;
	margin: 10px 10px;
	width: 400px;
	position: absolute;
}

.resize-container {
	width: 95%;
	height: 90%;
}

/*---------ModalCSS------------ */

.topBtns {
	text-align: center;
}

#contBtns {
	width: 8%;
	height: 8%;
	margin-left: 10px;
}

.groupName {
	border: 3px;
	border-color: black;
}

#Group-Name {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.linkedUser {
	font-family: 'Poppins', sans-serif !important;
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border: 2px solid #a5a5a6;
	border-radius: 8px;
	color: #ffffff;
	font-size: 26px;
	font-weight: 700;
	background: #a5a5a6;
	padding: 10px 130px 10px 130px;
	text-decoration: none;
	margin: 20px;
}

.linkedUser:hover {
	text-decoration: none;
	cursor: pointer;
	background: #9b9b9b;
}

/* The container */
.Rcontainer {
	display: in-line;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.Rcontainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.checkmark:nth-child(n + 3) {
	background-color: #4286f4;
}
.checkmark:nth-child(2) {
	background-color: #41f49d;
}
.checkmark:nth-child(3) {
	background-color: #f4414f;
}
.checkmark:nth-child(4) {
	background-color: #fcee32;
}

/* On mouse-over, add a grey background color */
.Rcontainer:hover input ~ .checkmark {
	opacity: 0.7;
}

/* When the radio button is checked, add a blue background */
.Rcontainer input:checked ~ .checkmark {
	background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.Rcontainer input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.Rcontainer .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.RadioCont {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#svg_2.large {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	transform-origin: center;
	transition: 3s;
}

/*--------------------------------------------------*/

#newNote {
	z-index: 5;
}

#nav-container {
	font-family: 'Poppins', sans-serif !important;
}

#userBtn {
	margin-left: -7px;
}

#popNote {
	position: absolute;
	z-index: 1;
}

.resize-drag:hover .moveBtn {
	opacity: 1;
}

.resize-drag:hover .optionBtn {
	opacity: 1;
}

#popNoteheader {
	cursor: move;
	z-index: 2;
}

#hvrBtn {
	max-width: 85%;
	max-height: 85%;
}

/* --------- Start of media queries --------- */

@media (min-width: 2880px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1060px) {
}

@media (max-width: 1026px) {
}

@media screen and (max-width: 800px) {
}

@media (max-width: 576px) {
}
